In [1]:
# for <condition/range/ ...>:
#   statements

characters = 'python'
#for one_itwm in list of items
for character in characters:
  print(character)

# in is another keyword in python

p
y
t
h
o
n

In [2]:
#using in wiht if
if 'th' in characters:
  print(f"th present in {characters}")

th present in python

In [3]:
#print(character, end=' ')

In [4]:
#seperator

In [5]:
#keywords inside a function, do not put spaces (do this instead) eg: end=

#to quickly comment use cntrl+/

In [6]:
#lists
['string', 0 , 10.00, False]

for number in [1, 2, 3, 4, 5]:
  print(f"current values of the variable number {number}")

current values of the variable number 1
current values of the variable number 2
current values of the variable number 3
current values of the variable number 4
current values of the variable number 5

In [7]:
#range function
#function_name (variables, values)
'''the values/variables are called arguments
'''

'the values/variables are called arguments\n'

In [8]:
'''
range()

range(starting_value, ending_value, stepper_value)
'''

'\nrange()\n\nrange(starting_value, ending_value, stepper_value)\n'

In [14]:
value = []
if value in range(0, 10, 2):
  print(value)

#starting_value
#starting_value + stepper_value - if starting value < ending_value

In [10]:
vlaue = []
for value in range(1000, 0, -100):
  print(value)

#
for value in range(15, 11):
  print(value)

1000
900
800
700
600
500
400
300
200
100

In [15]:
result = 0
for number in [1, 2, 3, 4, 5]:
  result += number
  print(f"the result is {result}")

the result is 1
the result is 3
the result is 6
the result is 10
the result is 15

In [25]:
pass_student = 0
fail_student = 0

for student in range(10):
  result = int(input("Enter exam result for student"+ str(student)))
  if result>=33:
    pass_student += 1
  else:
    fail_student += 1

print(pass_student)
print(fail_student)
if pass_student > 8:
  print("\nbonus to instructor")

Enter exam result for student089
Enter exam result for student189
Enter exam result for student287
Enter exam result for student309
Enter exam result for student487
Enter exam result for student587
Enter exam result for student656
Enter exam result for student765
Enter exam result for student809
Enter exam result for student909
7
3

In [27]:
#break
for i in range(5):
  if i==3:
    break #ends the loop
  print(i)
print('ended')

for i in range(5):
  if i==3:
  #  contine #skips the rest of the loop
  print(i)
  print("running")
print('ended')

IndentationError: ignored

In [28]:
#def
'''def function_name(0 or more parameters):
  function_body'''

'def function_name():\n  function_body'

In [30]:
def square():
  print("square")

In [38]:
#funtion take prints square of a number
def square(number):
  print(number*number)
  #return 1
  return number**2
  '''return number**3 #while running in a .py file the whole code is executed 
  rather the single block in collab so you dont have to update the code again'''
  """always have the purpose of function in these quotes this is for commenting"""

In [32]:
square(4)

16

In [36]:
answer = square(2)
print(f"the answer is {answer}")

#return statement

4
the answer is 4

In [40]:
#function to add 2 numbers
def add(x, y):
  result = x + y
  return result

one = 1
two = 2

three = add(one,two)
print(three)
print(type(three))

3
<class 'int'>

In [ ]:
#function to add 2 numbers
def add(x, y):
  resultxy = x + y
  return resultxy



one = 1
two = 2

three = add(one,two)
print(three)
print(type(three))

In [41]:
def print_values(one, two):
  print(f'value of one is {one}')
  print(f'value of two is {two}')

In [42]:
course = 'IS'
number = '612'

print_values(course, number)
print_values(number, course)

value of one is IS
value of two is 612
value of one is 612
value of two is IS

In [43]:
#keyword_arguments

print_values(two=number, one=course) #order of the argument is important, now it will get executed correctly

value of one is IS
value of two is 612

In [44]:
def maximum(value1, value2, value3):
  """Return the maximum of three values."""
  max_value = value1
  if value2 > max_value:
    max_value = value2
  if value3 > max_value:
    max_value = value3
  return max_value

In [57]:
#create a function called divide_by_2
  # return the value of answe

#answer = divide_by_2(10)
#print(answer)

# create a function called multiplication, 
# with 2 parameters num1, num2
  # return num1 * num2

#answer = multiple(10,10)
#print(answer)

In [64]:
def divide_by_2(number):
  return number/2
  print

In [66]:
divide_by_2(10)

5.0

In [65]:
def multi(number):
  return number*10
  print

In [67]:
multi(10)

100

In [54]:
def multi(num1, num2):
  num1 = 10
  num2 = 20 
  return num1*num2

  answer = (f"multiplication is {answer}")



print(multi)

<function multi at 0x7fb1aa355f80>

In [ ]:
#arbitrary arguments

def average(*args):
  retuen sum(*args)/len(*args)

In [61]:
def area(width=2, height):
  return width*height

rectangle_area = area(10,20)
sqaure = area(10)
random_area = area()
print(rectangle_area, square, random_area)

SyntaxError: ignored