In [ ]:
#Q) 2.5
'''find diameter, circumference and area'''

pi = 3.14159  #value of pi
r = 2 #radius is 2  #value of radius, r

#formulas
diameter = 2 * r
circumference = 2 * pi * r
area = pi * r * r

#printing the values for the formulas
print("Diameter is: -",diameter)
print("Circumference is: -",circumference)
print("Area is: -",area)

Diameter is: - 4
Circumference is: - 12.56636
Area is: - 12.56636

In [ ]:
#Q2.6
'''Use if statement to determine whether an integer is odd or even'''

print("Enter your number:-")
num = int(input())  #taking a number which is a int (integer) type

'''to find out a number is even or odd we need to test the number by dividing
the number 2, and if there is no remainder i.e. 0, if this condition is met
then it is a even number otherwise it is an odd number.
'''
even = num % 2
if even == 0:
  print(f"the number, {num} is even")
else:
  print(f"the number, {num} is odd")

Enter your number:-
35
the number, 35 is odd

In [ ]:
#Q2.7
'''Use if statement to determine whether 1024 is a multiple of 4 and
whether 2 is multiple of 10.'''

num_01 = 1024
num_02 = 2

if (num_01 % 4 == 0): # to test if num_01 is a multiple of 4
  print(f"{num_01} is a multiple of 4") 
else:
  print(f"{num_01} is not a multiple of 4")

if (num_02 % 10 == 0): # to test if num_02 is a multiple of 10
  print(f"{num_02} is a multiple of 10.")
else:
  print(f"{num_02} is not a multiple of 10")

1024 is a multiple of 4
2 is not a multiple of 10

In [ ]:
#Q2.10
''' Write a script that inputs three integers from the user. Display the
sum, average, product, smallest, largest of the numbers. Note that each of these
is a reduction in functional-style programming.'''

def sum(num1, num2, num3):
  return num1 + num2 + num3
  return (num1 + num2 + num3)/2
  return (num1 * num2 * num3)
  return min(num1, num2, num3)
  return max(num1, num2, num3)
  
num1 = int(input("Num1 is: "))
num2 = int(input("Num2 is: "))
num3 = int(input("Num3 is: "))

ans = num1 + num2 + num3 # addition of numbers
avg = (num1 + num2 + num3)/3 # average of all the numbers
product = (num1 * num2 * num3) # multiplications of all numbers
small = min(num1, num2, num3) # smallest of all the numbers
large = max(num1, num2, num3) #largest of all the numbers

print(f"the Sum of {num1}, {num2} and {num3} is: - {ans}")
print(f"the Average of {num1}, {num2}, and {num3} is: - {avg}")
print(f"the multiplication of {num1}, {num2} and {num3} is: - {product}")
print(f"the Smallest number of {num1}, {num2} and {num3} is: - {small}")
print(f"the Largest number of {num1}, {num2} and {num3} is: - {large}")

Num1 is: 66
Num2 is: 78
Num3 is: 56
the Sum of 66, 78 and 56 is: - 200
the Average of 66, 78, and 56 is: - 66.66666666666667
the multiplication of 66, 78 and 56 is: - 288288
the Smallest number of 66, 78 and 56 is: - 56
the Largest number of 66, 78 and 56 is: - 78

In [ ]:
#Q. 2.11)

num = int(input("Enter 5 digit number: "))  #taking in a 5 digit value
print(num)                                  #printing out the number

digits = []                                 #the seperated digit values stored in num will be stored here

while num > 0:
  digits.insert(0, num % 10)                #e.g 1001 % 1 = 1, so the last digit here 1 will be sent to digits remaing 1000 will send further in the loop function .insert helps the number to stored in their proper index, starting at 1
  num = (num - num%10) // 10                #e.g here 1001 - 1 = 1000, and then 1000 is divided with floor division as the regular division will return a double value 
                                            #the while loop will keep iterating until the value or num is equal to 0
print(*digits)                              #prints out all the values in 'digits'

Enter 5 digit number: 55678
55678
5 5 6 7 8

In [ ]:
\#Q2.12
'''Some investment advisors say that it’s reasonable to expect a 7% return over the long term in the stock market. Assuming that you begin with
$1000 and leave your money invested, calculate and display how much money you’ll have
after 10, 20 and 30 years. Use the following formula for determining these amounts:
a = p(1 + r)^n
where
p is the original amount invested (i.e., the principal of $1000),
r is the annual rate of return (7%),
n is the number of years (10, 20 or 30) and
a is the amount on deposit at the end of the nth year.'''

#given values
p = 1000    #principles
r = 7       #rates
n1 = 10     #year 10
n2 = 20     #year 20
n3 = 30     #year 30

def interest(p, r, n):        #defining the compound interest formula
  return p * ((1 + (r/100) ** n1))
  return p * ((1 + (r/100)) ** n2)
  return p * ((1 + (r/100)) ** n3)

Untill_10years = p * ((1 + (r/100)) ** n1)

Untill_20years = p * ((1 + (r/100)) ** n2)

Untill_30years = p * ((1 + (r/100)) ** n3)


print(f"the amount at end of {n1} yesars is: - {Untill_10years}.")
print(f"\nthe amount at end of {n2} yesars is: - {Untill_20years}.")
print(f"\nthe amount at end of {n3} yesars is: - {Untill_30years}.")

the amount at end of 10 yesars is: - 1967.1513572895665.

the amount at end of 20 yesars is: - 3869.6844624861833.

the amount at end of 30 yesars is: - 7612.255042662042.

In [ ]:
#Q3.4)

for i in range(2):            #for 2 rows @ will be printed
  for j in range(7):          #for 7 columns @ will be printed
    print("@",end="")         # end="" means after 1 print of @ we can add or append another @ untill the end of for loop 
  print()

@@@@@@@
@@@@@@@

In [ ]:
#Q3.5)
numb1 = int(input('1st number is: - ')) # enter first integer

numb2 = int(input('2nd number is: - ')) # enter second integer

if numb1 == numb2:
  print(numb1, 'is equal to', numb2)
else:
  print(numb1, 'is not equal to', numb2)

if numb1 < numb2:
  print(numb1, 'is less than', numb2)
else:
  print(numb1, 'is greater than', numb2)

if numb1 <= numb2:
  print(numb1, 'is less than or equal to', numb2)
else:
  print(numb1, 'is greater than or equal to', numb2)

1st number is: - 78
2nd number is: - 67
78 is not equal to 67
78 is greater than 67
78 is greater than or equal to 67

In [ ]:
#Q3.6)
print(input("What is your problem?:-"))

patient_answer_2 = (input("have you had this before? "))

if patient_answer_2.lower() == 'yes':
    print("well, you have it again")
elif patient_answer_2.lower() == 'no':
    print("well, Now you have it")

What is your problem?:-problem
problem
have you had this before? yes
well, you have it again

In [ ]:
#Q.3.10)


#given values from (Q2.12)
p = 1000        #principle
r = 7.00        #rate
n = 30          #years
rate = r * 0.01 #making the rate in decimal eg. 7/100 = 0.07, so 7*0.01 = 0.07
i = 1

print("Year 1, total is:", p) #first year ammount

while i < n:
    Amount = (p * ((1 + rate) ** i)) #amount after 1st year
    i = i + 1
    print(f"Year {i}, total is: {Amount}")

Year 1, total is: 1000
Year 2, total is: 1070.0
Year 3, total is: 1144.9
Year 4, total is: 1225.0430000000001
Year 5, total is: 1310.7960100000003
Year 6, total is: 1402.5517307000005
Year 7, total is: 1500.7303518490005
Year 8, total is: 1605.7814764784307
Year 9, total is: 1718.186179831921
Year 10, total is: 1838.4592124201556
Year 11, total is: 1967.1513572895665
Year 12, total is: 2104.8519522998363
Year 13, total is: 2252.191588960825
Year 14, total is: 2409.845000188083
Year 15, total is: 2578.534150201249
Year 16, total is: 2759.031540715336
Year 17, total is: 2952.16374856541
Year 18, total is: 3158.8152109649886
Year 19, total is: 3379.932275732538
Year 20, total is: 3616.5275350338165
Year 21, total is: 3869.6844624861833
Year 22, total is: 4140.562374860217
Year 23, total is: 4430.401741100432
Year 24, total is: 4740.5298629774625
Year 25, total is: 5072.366953385886
Year 26, total is: 5427.432640122897
Year 27, total is: 5807.352924931501
Year 28, total is: 6213.867629676706
Year 29, total is: 6648.838363754076
Year 30, total is: 7114.257049216862

In [ ]:
#Q 3.11)
gallons = 0
miles = 0
number_of_tanks = 0
total_gallons = 0
total_miles = 0

gallons = float(input("Enter the gallons used, (enter -1 to stop): "))
miles = float(input("Enter number of miles driven, (enter -1 to stop): "))
mpg = miles/gallons
print("the mileage for this tank is: ", str(mpg))

while gallons != -1:
    total_gallons += gallons
    total_miles += miles
    number_of_tanks += 1
    gallons = float(input("Enter the gallons used, (enter -1 to stop): "))
    miles = float(input("Enter number of miles driven, (enter -1 to stop): "))
    mpg = miles/gallons
    print("the mileage for this tank is: ", str(mpg))


print("Total Gallons used are: ", total_gallons)
print("Total Miles driven are: ", total_miles)
Final_mgp = total_miles/total_gallons
print("Combined Mileage i.e. miles per gallons is: ", Final_mgp)

Enter the gallons used, (enter -1 to stop): 50
Enter number of miles driven, (enter -1 to stop): 80
the mileage for this tank is:  1.6
Enter the gallons used, (enter -1 to stop): 100
Enter number of miles driven, (enter -1 to stop): 150
the mileage for this tank is:  1.5
Enter the gallons used, (enter -1 to stop): 90
Enter number of miles driven, (enter -1 to stop): 100
the mileage for this tank is:  1.1111111111111112
Enter the gallons used, (enter -1 to stop): 80
Enter number of miles driven, (enter -1 to stop): 90
the mileage for this tank is:  1.125
Enter the gallons used, (enter -1 to stop): 60
Enter number of miles driven, (enter -1 to stop): 80
the mileage for this tank is:  1.3333333333333333
Enter the gallons used, (enter -1 to stop): 50
Enter number of miles driven, (enter -1 to stop): 70
the mileage for this tank is:  1.4
Enter the gallons used, (enter -1 to stop): 30
Enter number of miles driven, (enter -1 to stop): 50
the mileage for this tank is:  1.6666666666666667
Enter the gallons used, (enter -1 to stop): 20
Enter number of miles driven, (enter -1 to stop): 30
the mileage for this tank is:  1.5
Enter the gallons used, (enter -1 to stop): -1
Enter number of miles driven, (enter -1 to stop): -1
the mileage for this tank is:  1.0
Total Gallons used are:  480.0
Total Miles driven are:  650.0
Combined Mileage i.e. miles per gallons is:  1.3541666666666667