In [ ]:
numbers = [] #empty list

In [ ]:
dir(numbers)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
type(numbers)

list

In [ ]:
numbers += "hello" #this is valid as it is str i
print(numbers)

['h', 'e', 'l', 'l', 'o']

In [ ]:
name = "IS 612" # string as sequence

In [ ]:
name = "Eve"

In [ ]:
a = [1, 2, 3]
b = [2, 1, 3]
print(a<b)

True

In [ ]:
numbers.append(5)

In [ ]:
print(numbers)

['h', 'e', 'l', 'l', 'o', 5]

In [ ]:
numbers.append([1, 2, 3])
print(numbers)

['h', 'e', 'l', 'l', 'o', 5, [1, 2, 3]]

In [ ]:
#nested_list -> [1, 2, 4, 5, [1, 2 ,3]]

In [ ]:
numbers.extend([9,10,11])
numbers

['h', 'e', 'l', 'l', 'o', 5, [1, 2, 3], 9, 10, 11]

In [ ]:
numbers.insert(0,1111)
numbers

[1111, 'h', 'e', 'l', 'l', 'o', 5, [1, 2, 3], 9, 10, 11]

In [ ]:
numbers.insert(5, -10)
numbers

[1111, 'h', 'e', 'l', 'l', -10, 'o', 5, [1, 2, 3], 9, 10, 11]

In [ ]:
numbers.append(1)
numbers

[1111, 'h', 'e', 'l', 'l', -10, 'o', 5, [1, 2, 3], 9, 10, 11, 1]

In [ ]:
numbers

[1111, 'h', 'e', 'l', 'l', -10, 'o', 5, [1, 2, 3], 9, 10, 11]

In [ ]:
#numbers.remove(1)

In [ ]:
numbers.index(-10)

5

In [ ]:
numbers.extend([1,2,3,4,5])

In [ ]:
numbers.reverse()
print(numbers)

[5, 4, 3, 2, 1, 11, 10, 9, [1, 2, 3], 5, 'o', -10, 'l', 'l', 'e', 'h', 1111]

In [ ]:
numbers.remove(1)
print(numbers)

[5, 4, 3, 2, 11, 10, 9, [1, 2, 3], 5, 'o', -10, 'l', 'l', 'e', 'h', 1111]

In [ ]:
numbers.count(-100)
numbers

[5, 4, 3, 2, 11, 10, 9, [1, 2, 3], 5, 'o', -10, 'l', 'l', 'e', 'h', 1111]

In [ ]:
#tuples

In [ ]:
empty_tuple = ()
print(len(empty_tuple))
print(type(empty_tuple))

0
<class 'tuple'>

In [ ]:
empty_tuple = (1,2,3)
#empty_tuple[0] = 100

In [ ]:
another_tuple = 1,2,3,4
print(another_tuple)

(1, 2, 3, 4)

In [ ]:
#another_tuple(0)

In [ ]:
another_tuple += (10,20)
print(another_tuple)

(1, 2, 3, 4, 10, 20)

In [ ]:
numbers_2d = [[1,2], [3,4]]
numbers_2d[0]

[1, 2]

In [ ]:
numbers_2d[0][0]

1

In [ ]:
for num_1d in numbers_2d:
  for num in num_1d:
    print(num)

1
2
3
4

In [ ]:
number_mixed = [[1,2], [1,2]]

In [ ]:
print(number_mixed[0])
number_mixed[0][0] = 12
print(number_mixed)

[12, 2]
[[12, 2], [1, 2]]

In [ ]:
numbers.index(2)
numbers.count(5)

2

In [ ]:
n1, n2, n3 = [1, 2, 3]
print(n1)
l1 = 1,2,3,4
print(l1)

1
(1, 2, 3, 4)

In [ ]:
colors = ['red', 'green', 'blue']

In [ ]:
for index,color in enumerate(colors):
  print(f"{color} is at {index} poition in the list")

red is at 0 poition in the list
green is at 1 poition in the list
blue is at 2 poition in the list

In [ ]:
#convert list to tuple and tuple to list
a_tuple02 = (1,2)
a_list = list(a_tuple02)
print(type(a_list))

<class 'list'>

In [ ]:
#slicing
numbers = [1,2,3,4,5,6,7,8,9,0]

#numbers[<start_value>:<end_value>]

In [ ]:
print(numbers[3:])

[4, 5, 6, 7, 8, 9, 0]

In [ ]:
print(numbers[3:6])

[4, 5, 6]

In [ ]:
print(numbers[:-1]) #everything but the last number

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
print(numbers[-5:])

[6, 7, 8, 9, 0]

In [ ]:
print(f"highest 3 values are {numbers[-3:]}")
print(f"lowest 3 values are  {numbers[:3]}")

highest 3 values are [8, 9, 0]
lowest 3 values are  [1, 2, 3]

In [ ]:
#slicing with steps
print(numbers[::2])

[1, 3, 5, 7, 9]

In [ ]:
print(numbers[:5:2])

[1, 3, 5]

In [ ]:
#del in list
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [ ]:
del numbers[1::2]
print(numbers)

[1, 3, 5, 7, 9]

In [5]:
#sorting
numbers_05 = [2,144, 323, 434,545, -34]
sorted_numbers_05 = sorted(numbers_05)
print(numbers_05,'\n\t', sorted_numbers_05)
# sort in place
numbers_05.sort()
print(numbers_05)

#sorting

[2, 144, 323, 434, 545, -34]
	 [-34, 2, 144, 323, 434, 545]
[-34, 2, 144, 323, 434, 545]

In [6]:
numbers_05 = [2,144, 323, 434,545, -34]
if 144 in numbers_05:
  print("is in")

if 100000 not in numbers_05:
  print("not in")

mixed_list02 = [1,None,2,5]
print(any(mixed_list02))
mixed_list02=[]
print(any(mixed_list02))

is in
not in
True
False

In [ ]:
mixed_list = [1,None,2,5]
print(all(mixed_list))
mixed_list[1] = 12
print(all(mixed_list))

False
True

In [ ]:
#stacks

In [ ]:
#push (termology) -> pushng means inserting

In [ ]:
#pop items

'''
if I pop from stack, ie removing
using LIFO - last in First out
'''

'\nif I pop from stack, ie removing\nusing LIFO - last in First out\n'

In [ ]:
#queue (Array Implementation)

In [ ]:
#stack with lsit
stack = []

#to push
stack.append(10)
stack.append(20)
stack.append(30)

print(stack)

[10, 20, 30]

In [ ]:
stack.pop()

30

In [ ]:
stack.pop()

20

In [ ]:
stack.pop()

10

In [ ]:
#stack.pop() -> cant pop an empty stack it gives Index Error

In [ ]:
#stack insert from the end and remove from the end

In [ ]:
#queue insert from the end and remove from the begining

In [ ]:
#Dictonaries

In [8]:
'''key value

key1 -> values
"one" -> (........)
key2 -> values
"two" ->
'''

a_dictionary = {} # creating empty dictionary
print(type(a_dictionary))

a_dictionary = {} # creating empty dictionary
print(type(a_dictionary))
print(a_dictionary)

#create dict with one key_value pair
a_dictionary = {"one": 1}
a_dictionary = {"one": [1,2]}
a_dictionary = {"one": (1,2,3)}

a_dictionary["one"] = 12
a_dictionary["two"] = 12
print(a_dictionary)

a_dictionary[(1,2)] = 1200
a_dictionary[(12)] = 1201
a_dictionary[1.01] = 12.0101

print(a_dictionary)

<class 'dict'>
<class 'dict'>
{}
{'one': 12, 'two': 12}
{'one': 12, 'two': 12, (1, 2): 1200, 12: 1201, 1.01: 12.0101}

In [ ]:
#typeError -> unhashable ........

In [9]:
dict_class = {"one": 12, "two": "hi", "one": 111}

In [10]:
dict_class

{'one': 111, 'two': 'hi'}