In [1]:
# <> place holder

In [3]:
'''if <condition>:
  statement1
  statement2

statement3'''

'if <condition>:\n  statement1\n  statement2\n\nstatement3'

In [4]:
#x = input("Enter a number")
#x = int(x)
# above 2 lines are similar to

x = int(input("enter a number"))
if x < 10:
  print("the input is less than 10")
print("hello")

Enter a number1000
enter a number100
hello

In [5]:
4 >= 4

True

In [6]:
x = 10
y = 100
if x < y:
  print(x, "is less than", y)
if x > y:
  print(x, "is greater than", y)

10 is less than 100

In [8]:
#\ and press enter to seprate codes in different lines and maintain the tab

In [9]:
x = int(input("enter a number between"))

if x > 1:
  print("greater than 1")

  if x < 100:
    print("is less")

enter a number between988
greater than 1

In [10]:
age = int(input("the age: "))
if age <= 21:
  print("21st century born")
else:
  print("20th century born")

the age: 29
20th century born

In [11]:
''' take age as input from user
if age is less than or equal to 21
print 21st century born
else
print 20th century born'''

' take age as input from user\nif age is less than or equal to 21\nprint 21st century born\nelse\nprint 20th century born'

In [12]:
'''
if x < 2:
  pr
elif x <20:
  pr
elif x< 10:
  pr
else:
  prin
  '''

'\nif x < 2:\n  pr\nelif x <20:\n  pr\nelif x< 10:\n  pr\nelse:\n  prin\n  '

In [13]:
'''def greeting(name: str) -> ''' #('name: str' ) shows the type of str

'def greeting(name: str) -> '

In [14]:
#garbage value

In [16]:
'''x = none
if x:
  print("x is not none")
else:
  print("x is none")'''

'x = none\nif x:\n  print("x is not none")\nelse:\n  print("x is none")'

In [17]:
x = 10
if x:
  print("x is not none")
else:
  print("x is none")

x is not none

In [18]:
# links for boolean algebra ' and ' , ' or ' using true and false

In [24]:
user = int(input("enter number: "))
if user >= 0 and user <= 10:
  print("this is between 0 and 10")
else: 
  print("greater tha 10 or less then 0")

enter number: 5
this is between 0 and 10

In [26]:
#not True ==> False
#not False ==> True

In [28]:
name = None

if not name:
  print(name)

None

In [29]:
x = None
print(x)

None

In [30]:
#while loop

In [33]:
#infinte loop
number = 0
#while True:
  #number +1
  #print(number)

In [41]:
input_choice = -1
#while input_choice != 0:
 # input_choice = int(input("enter a number 0-3"))

In [ ]:
#power of 2 till power = 10
power = 0
while power <= 10

In [37]:
#string concatenation

In [38]:
#formated string using f

In [40]:
print(f'{float(600+12)}')

612.0

In [42]:
# incrementing
a_number = a

a_number += 1



a_number -= 1

NameError: ignored

In [43]:
number = 2
while number >0:
  number /= 2
  number = int(number)
  print(number)

#in

1
0

In [47]:
number = int(input("num: "))
while number > 3:
  number/2
  number = int(number)
print(number)

num: 10

KeyboardInterrupt: ignored

In [48]:
input_number03 = int(input("enter"))
while input_number03 > 3:
  input_number03 //= 2
print(input_number03)

enter10
2