In [2]:
numbers = [] #empty list

In [27]:
numbers = ["one","two","three","four"]

In [34]:
numbers[2] = "forty five"
print(numbers)

['one', 'two', 'forty five', 'four', 1, 1, 'h', 'e', 'l', 'l', 'o', 'h', 'e', 'l', 'l', 'o']

In [8]:
len(numbers)

4

In [13]:
dir(numbers)#different methods that exists for a varible type

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [15]:
numbers[-4]

'one'

In [16]:
numbers[1] = "twenty one" #mutable

In [17]:
print(numbers)

['one', 'twenty one', 'three', 'four']

In [36]:
# string as sequence
name = "IS 612"

In [37]:
name[-1]
# name = "EVENING"
name[0] = "K"
name

TypeError: ignored

In [32]:
numbers += "hello" #this is valid because string is iterable
numbers += 1 # this is invalid because int is not iterable
print(numbers)

TypeError: ignored

In [42]:
a = [3,2,3]
b = [3,2,1] 
print(a<b)

False

In [55]:
# list methods
# https://docs.python.org/3/tutorial/datastructures.html#more-on-lists
numbers = [1,2,3,4,5]
# append
numbers.append(6)
print(numbers)
numbers.append([1,2,3])
print(numbers)
# nested_list -> [1, 2, 3, 4, 5, 6, [1, 2, 3]]

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, [1, 2, 3]]

In [56]:
numbers.extend([9,10,11])
numbers

[1, 2, 3, 4, 5, 6, [1, 2, 3], 9, 10, 11]

In [57]:
numbers.insert(0,1111)
numbers.insert(5,-10)
numbers

[1111, 1, 2, 3, 4, -10, 5, 6, [1, 2, 3], 9, 10, 11]

In [58]:
numbers.append(1)
numbers

[1111, 1, 2, 3, 4, -10, 5, 6, [1, 2, 3], 9, 10, 11, 1]

In [59]:
numbers.remove(1)

In [61]:
numbers.remove("hello")

ValueError: ignored

In [66]:
print(numbers)
numbers.index(-10)

[1111, 2, 3, 4, -10, 5, 6, [1, 2, 3], 9, 10, 11, 1]

4

In [68]:
numbers.extend([1,2,3,4,2,3,4])

In [69]:
numbers.count(2)

3

In [71]:
numbers.count(-100)

0

In [73]:
abc = numbers.reverse()
print(abc)

None

# TUPLES

In [74]:
()

empty_tuple = ()
print(len(empty_tuple))
print(type(empty_tuple))

0
<class 'tuple'>

In [76]:
empty_tuple = (1,2,3)
empty_tuple[0]= 100

TypeError: ignored

In [77]:
another_tuple = 1,2,3,4
print(another_tuple)

(1, 2, 3, 4)

In [80]:
another_tuple[0]

1

In [81]:
another_tuple += (10,20)
print(another_tuple)

(1, 2, 3, 4, 10, 20)

In [84]:
numbers_2d = [[1,2], [3,4]]
numbers_2d[0][0]

for num_1d in numbers_2d:
  for num in num_1d:
    print(num)

1
2
3
4

In [90]:
numbers_mixed = ([1,2], [1,2])

In [91]:
print(numbers_mixed)
print(numbers_mixed[0])
print(numbers_mixed[0][0])
numbers_mixed[0][0] = 12
print(numbers_mixed)

([1, 2], [1, 2])
[1, 2]
1
([12, 2], [1, 2])

In [92]:
numbers_mixed = ([[1],[2],[3]], [[4],[5],[6]])
numbers_mixed[1][2][0]= 12
# ([[1],[2],[3]], [[4],[5],[6]])
# 0 -> [[1],[2],[3]]
# 1 -> [[4],[5],[6]]
#   0 -> [4]
#   1 -> [5]
#   2 -> [6]
#     0 -> 6
numbers_mixed

([[1], [2], [3]], [[4], [5], [12]])

In [93]:
numbers = (1,2,3,4,5)
dir(numbers)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [96]:
numbers.index(2)
numbers.count(5)

1

In [99]:
n1, n2, n3 = [1,2,3]
print(n1)
l1 = 1,2,3,4
print(l1)

1
(1, 2, 3, 4)

In [100]:
colors = ['red', 'green', 'blue']

In [106]:
for index,color in enumerate(colors):
  print(f'{color} is at {index} position in the list')

red is at 0 position in the liust
green is at 1 position in the liust
blue is at 2 position in the liust

In [107]:
# convert list to tuple and tuple to list
a_tuple = (1,2)
a_list = list(a_tuple)
print(type(a_list))
another_tuple = tuple(a_list)
print(type(another_tuple))

<class 'list'>
<class 'tuple'>

In [115]:
# slicing
numbers = [0,1,2,3,4,5,6,7,8,9]

# numbers[<start_value>:<end_value>]

In [111]:
print(numbers[3:6])

[4, 5, 6]

In [114]:
print(numbers[-5:])

[6, 7, 8, 9, 0]

In [117]:
print(f'highest 3 values are {numbers[-3:]}')
print(f'lowest 3 values are {numbers[:3]}')

highest 3 values are [7, 8, 9]
lowest 3 values are [0, 1, 2]

In [120]:
# slicing with steps
# [<start_value>:<end_value>:<step_count>]
print(numbers[:5:2])

[0, 1, 2, 3, 4]

In [121]:
# del in list
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [122]:
del numbers[1::2]
print(numbers)

[0, 2, 4, 6, 8]

In [126]:
# sorting
numbers = [2,144,33,5115,2,4,99,0,-1212]
sorted_numbers = sorted(numbers)
print(numbers,'\n\t', sorted_numbers)
# sort in place
numbers.sort()
print(numbers)

[2, 144, 33, 5115, 2, 4, 99, 0, -1212]
	 [-1212, 0, 2, 2, 4, 33, 99, 144, 5115]
[-1212, 0, 2, 2, 4, 33, 99, 144, 5115]

In [128]:
if 144 in numbers:
  print('144 is present in list')

if 1000 not in numbers:
  print('1000 is not present in list')

mixed_list = [1,None,2,5]
print(any(mixed_list))
mixed_list=[]
print(any(mixed_list))

144 is present in list
1000 is not present in list
True
False

In [132]:
mixed_list = [1,None,2,5]
print(all(mixed_list))
mixed_list[1]= 12
print(all(mixed_list))

False
True

In [133]:
# # Stacks


# # stack of items



# --------- empty table top
# i push a plate ie I am inserting a plate in stack

# \----/
# --------- size of the stack is 1

# i push a plate ie I am inserting a plate in stack

# \----/
# \----/
# --------- size of the stack is 2


# i push a plate ie I am inserting a plate in stack

# \--C--/
# \--B--/
# \--A--/
# --------- size of the stack is 3

# pop items

# if I pop from stack, ie removing 

# \--B--/
# \--A--/
# --------- size of the stack is 2 and the removed plate is \--C--/


# if I pop from stack, ie removing 

# \--A--/
# --------- size of the stack is 1 and the removed plate is \--B--/


# if I pop from stack, ie removing 

# --------- the stack is empty and the removed plate is \--A--/


# LIFO --- Last in first out


# QUeue
# FIrst in first out

In [134]:
# stacks with list
stack = []
# to push
stack.append(10)
stack.append(20)
stack.append(30)

print(stack)

[10, 20, 30]

In [135]:
stack.pop()

30

In [136]:
stack.pop()

20

In [138]:
stack.pop()

10

In [139]:
stack

[]

In [140]:
stack.pop()

IndexError: ignored

In [141]:
name = "dhruv"
name

'dhruv'

In [ ]:
#

# Dictionaries

In [151]:
#  key value pair
#  keys are unique


#  key1 -> values
#  "one" -> (.....)
#  key2 -> values
#  "two" ->

a_dictionary = {} # creating empty dictionary
print(type(a_dictionary))
print(a_dictionary)

# create dict with one key_value pair
# a_dictionary = {"one": 1}
# a_dictionary = {"one": [1,2]}
# a_dictionary = {"one": (1,2)}

a_dictionary["one"] = 12
a_dictionary["two"] = 12
a_dictionary["two"] = 23
a_dictionary[(1,2)] = 1200
a_dictionary[12] = 1211
a_dictionary[1.01] = 12.0101
              
print(a_dictionary)

<class 'dict'>
{}
{'one': 12, 'two': 23, (1, 2): 1200, 12: 1211, 1.01: 12.0101}

In [153]:
dict_class = {"one": 12, "two": "hi", "one": 111}

In [154]:
dict_class

{'one': 111, 'two': 'hi'}